.ui.form .fields .field {
  margin-right: 10px;
  label {
    font-size: 1em;
  }
  &:not(.inline) {
    label {
      line-height: 2em;
      text-align: right;
    }
    .field_with_errors {
      text-align: right;
    }
  }
  input {
    padding: 0.4em 1em;
  }
  .text {
    line-height: 2em;
  }
  .field_with_errors {
    color: red;
  }
  .ui.label {
    margin-bottom: 1em;
  }
  textarea {
    height: 6em;
    min-height: 3em;
    margin-bottom: 1em;
  }
  .field {
    margin-right: 0;
  }
}
.ui.form .ui.selection.dropdown {
  padding: 0.45em 1em;
  .text {
    line-height: 1em;
  }
}
.ui.vertical.menu {
  width: auto;
}
.ui .link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease,
  background 0.2s ease,
  -webkit-box-shadow 0.2s ease;
  transition: opacity 0.2s ease,
  background 0.2s ease,
  box-shadow 0.2s ease;
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    color: rgba(0, 0, 0, 1);
  }
  &.action {
    margin-right: .5em;
  }
}
.admin .ui.header .ui.label {
  font-size: 0.8571rem;
}
@media only screen and (max-width: 768px) {
  .ui.form .fields .field {
    &:not(.inline) label {
      line-height: 2em;
      text-align: left;
    }
  }
}
