body, html {
  width: 100%;
  height: 100%;
  @include font-family-heiti;
  font-size: $font_standard;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  cursor: pointer;
  @include no-select;
}

input[type=checkbox] {
  cursor: pointer;
}

a {
  cursor: pointer;
  &.ajax_disabled {
    cursor: default;
  }
}
