body, html {
  width: 100%;
  height: 100%;
  font-family: 'STHeiti','Helvetica Neue',Arial,sans-serif;
}

label {
  cursor: pointer;
  @include no-select;
}

input[type=checkbox] {
  cursor: pointer;
}

a {
  text-decoration: none;
  &.ajax_disabled {
    cursor: default;
  }
}
