body, html {
  width: 100%;
  height: 100%;
  @include font-family-songti;
  font-size: $font_h6;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  cursor: pointer;
  @include no-select;
}

input {
  @include font-family-songti;
  -webkit-font-smoothing: antialiased;
}

input[type=checkbox] {
  cursor: pointer;
}

.clear {
  @include clearfix;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
