@font-face {font-family: "iconfont";
  src: asset-url('main/fonts/iconfont.eot'); /* IE9*/
  src: asset-url('main/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  asset-url('main/fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  asset-url('main/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  asset-url('main/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style: normal;
  text-align: center;
  vertical-align: bottom;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before { content: "\e600"; }
.icon-qq:before { content: "\e601"; }
.icon-fullarrow-right:before { content: "\e602"; }
.icon-weibo:before { content: "\e603"; }
.icon-search:before { content: "\e604"; }
.icon-location:before { content: "\e605"; }
.icon-arrow-double-right:before { content: "\e606"; }
.icon-arrow-left:before { content: "\e607"; }
.icon-arrow-right:before { content: "\e608"; }
.icon-arrow-down:before { content: "\e609"; }
.icon-wechat:before { content: "\e60a"; }
.icon-password:before { content: "\e60b"; }
.icon-phone:before { content: "\e60c"; }
.icon-help:before { content: "\e60d"; }
.icon-luggage:before { content: "\e60e"; }
.icon-water:before { content: "\e60f"; }
.icon-visa:before { content: "\e610"; }
.icon-power:before { content: "\e611"; }
.icon-money:before { content: "\e612"; }
.icon-network:before { content: "\e613"; }
.icon-language:before { content: "\e614"; }
.icon-best-season:before { content: "\e615"; }
.icon-others:before { content: "\e616"; }
.icon-arrow-double-down:before { content: "\e617"; }
.icon-yes:before { content: "\e618"; }
.icon-people:before { content: "\e619"; }
.icon-gouwuche:before { content: "\e61a"; }
.icon-calender:before { content: "\e61b"; }
.icon-cancel:before { content: "\e61c"; }
.icon-trades:before { content: "\e61d"; }
.icon-logout:before { content: "\e61e"; }
.icon-pay:before { content: "\e61f"; }
.icon-processing:before { content: "\e620"; }
.icon-valid:before { content: "\e621"; }
.icon-attention:before { content: "\e622"; }
.icon-list:before { content: "\e623"; }
.icon-share:before { content: "\e624"; }
.icon-phone-receiver:before { content: "\e625"; }
.icon-captcha:before { content: "\e626"; }
.icon-email:before { content: "\e627"; }
.icon-plane:before { content: "\e628"; }
.icon-fullscreen:before { content: "\e629"; }
.icon-building:before { content: "\e62a"; }
.icon-activity:before { content: "\e62b"; }
.icon-landscape:before { content: "\e62c"; }
.icon-gift:before { content: "\e62d"; }
.icon-arrow-double-up:before { content: "\e62e"; }
