@mixin no-select {
  @include user-select(none);
}

@mixin font-family-heiti {
  font-family: 'STHeiti','Helvetica Neue',Arial,sans-serif;
}

@mixin font-family-songti {
  font-family: 'SimSun','NSimSun',serif;
}

@mixin cover_background_image($image) {
  background-image: image-url($image);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include background-size(cover);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{image-path($image)},sizingMethod='scale');
}

@mixin main-container {
  @include container;
  @include breakpoint(max-width 1280px) {
    width: 960px;
  }
}

@mixin main-section-height {
  height: 620px;
  @include breakpoint(max-width 1280px) {
    height: 460px;
  }
}

@mixin main-section-min-height {
  min-height: 620px;
  @include breakpoint(max-width 1280px) {
    min-height: 460px;
  }
}
