@mixin no-select {
  @include user-select(none);
}
@mixin can-select {
  @include user-select(all);
}

@mixin font-family-heiti {
  font-family: 'STHeiti','Helvetica Neue',Arial,sans-serif;
}

@mixin font-family-mobile-heiti {
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif;
}

@mixin font-family-songti {
  font-family: 'SimSun','NSimSun',serif;
}

@mixin cover_background_image($image) {
  background-image: image-url($image);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include background-size(cover);
}

@mixin cover_background_image_with_multiply($image, $color) {
  background: (image-url($image), $color);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include background-size(cover);
  background-blend-mode: multiply
}

@mixin main-container {
  @include container;
  @include breakpoint(max-width $desktop-maxwidth) {
    width: 960px;
  }
}

@mixin main-section-height {
  height: 620px;
  @include breakpoint(max-width $desktop-maxwidth) {
    height: 460px;
  }
}

@mixin main-section-min-height {
  min-height: 620px;
  @include breakpoint(max-width $desktop-maxwidth) {
    min-height: 460px;
  }
}

@mixin flex-center {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}
