.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 5em;
  letter-spacing: .1em;
  text-align: center;
  .main-nav__item {
    display: block;
    float: left;
    font-size: 1.2em;
    padding: 0 1em;
    color: $gray_white;
    &:hover {
      color: $white;
    }
    &.main-nav__item--login {
      padding: 0 .2em 0 1em;
    }
    &.main-nav__item--signup {
      padding: 0 1em 0 .2em;
    }
    &.main-nav__item--small {
      padding: 0;
    }
  }
}
ul.main-navbar {
  padding: 0;
  margin: 0;
  > li {
    float: left;
    position: relative;
    display: block;
    a {
      color: $gray_black;
    }
    &:hover,
    &.active {
      a {
        color: $black;
      }
    }
    @include transition(all .05s ease-in);
  }
}
