// color
$black: #000000;
$dark_black: #2f2f2f;
$gray_black: #5c5c5c;
$light_black: #8d8d8d;
$lighter_black: #fafafa;

$white: #ffffff;
$light_white: #f6f6f6;
$gray_white: #eeeeee;
$dark_white: #cccccc;
$darker_white: #aaaaaa;

$red: #ff5a5a;
$orange: #cd6600;
$green: green;

$dark_green: #444d4c;
$gray_green: #575e5e;
$light_green: #7c8282;
$lighter_green: #c3c4c4;
$lightest_green: #eeffe7;
$grass_green: #3c763d;

$dark_red: #a94442;
$lightest_red: #fff0f0;

$font_standard: 12px;
$font_h1: 36px;
$font_h2: 30px;
$font_h3: 24px;
$font_h4: 18px;
$font_h5: 16px;
$font_h6: 14px;
