- name = object.human_attribute_name(field)
.inline.field
  = label_tag "where[#{field}]", name
  = select_tag "where[#{field}]", options_for_select([['✔', 'true'], ['✘', 'false']], params[:where].try(:[], field))
