link href="#{image_path 'favicons/favicon-32x32.png'}" rel="icon" sizes="32x32" type="image/png" /
link href="#{image_path 'favicons/favicon-96x96.png'}" rel="icon" sizes="96x96" type="image/png" /
link href="#{image_path 'favicons/favicon-16x16.png'}" rel="icon" sizes="16x16" type="image/png" /
link href="#{image_path 'favicons/favicon.ico'}" rel=("shortcut icon") /
meta content="#da532c" name="msapplication-TileColor" /
meta content="#{image_path 'favicons/mstile-144x144.png'}" name="msapplication-TileImage" /
meta content="#{image_path 'favicons/browserconfig.xml'}" name="msapplication-config" /
meta content="#ffffff" name="theme-color" /
