// Homepage Special

// Framework
@import "bourbon";
@import "compass/support";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "rgbapng";

// Common
@import "main/common/mixins";
@import "main/common/variables";
@import "main/common/icons";
@import "main/common/common";
@import "main/common/susy_ext";
@import "main/common/header";
@import "main/common/footer";

// 3rd
@import "3rd/slick";

.home-index {
  position: relative;
  @include font-family-songti;
  .home-index__header {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    @include no-select;
    z-index: 999;
  }
  .home-index__logo {
    float: left;
  }
  .home-index__nav {
    position: relative;
    width: 100%;
    height: 60px;
  }
  .home-index__banner {
    width: 100%;
    height: auto;
    height: 100vh;
  }
  .home-index__section {
    width: 100%;
  }
  .home-index__more {
    height: 70px;
    margin: 0 20px 20px 20px;
    @include cover_background_image("main/home/more.jpg");
  }
  [class^="icon-"], [class*="icon-"] {
    margin-top: -4px;
  }
}
.home-index-nav {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 60px;
  font-size: 14px;
  letter-spacing: .1em;
  text-align: center;
  color: $white;
  .home-index-nav__item {
    float: left;
    min-width: 85px;
    a {
      color: $white;
    }
  }
  .home-index-nav__search {
    float: left;
    min-width: 85px;
  }
}
.home-index-banner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .home-index-banner__item {
    height: auto;
    height: 100vh;
  }
  .home-index-banner__prev, .home-index-banner__next {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    top: 50%;
    z-index: 999;
    &:hover {
      @include rgba-background-inline(rgba($white, 0.3));
    }
    [class^="icon-"], [class*="icon-"] {
      margin-top: 0;
    }
  }
  .home-index-banner__prev {
    left: 0;
  }
  .home-index-banner__next {
    right: 0;
  }
}
.home-index-banner-item {
  .home-index-banner-item__image {
    width: 100%;
    height: auto;
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @include background-size(cover);
  }
  .home-index-banner-item__package, .home-index-banner-item__hotel {
    position: absolute;
    color: $white;
    font-size: 18px;
    line-height: 30px;
  }
  .home-index-banner-item__package {
    left: 20px;
    bottom: 20px;
  }
  .home-index-banner-item__hotel {
    right: 50px;
    bottom: 10px;
  }
  .home-index-banner-item__hotel-location {
    font-size: 14px;
    line-height: 20px;
  }
  .icon-double-arrow-small-right {
    margin-left: 10px;
  }
  .icon-location {
    margin-right: 10px;
  }
}

@function home-index-section-length(
  $style: short
) {
  @return if($style == short, #{calc((100vw - 100px) / 4)}, #{calc((100vw - 60px) / 2)});
}

.home-index-section {
  padding: 10px;
  .home-index-section__item {
    position: relative;
    margin: 10px;
    @include transition(.1s ease);
    @include translateZ(0);
    &.home-index-section__item--horizontal {
      width: home-index-section-length(long);
      height: home-index-section-length(short);
    }
    &.home-index-section__item--vertical {
      width: home-index-section-length(short);
      height: home-index-section-length(long);
    }
    &.home-index-section__item--big-square {
      width: home-index-section-length(long);
      height: home-index-section-length(long);
    }
    &.home-index-section__item--small-square {
      width: home-index-section-length(short);
      height: home-index-section-length(short);
    }
  }
  .home-index-section__item-iamge {
    width: 100%;
    height: 100%;
  }
}
