// Homepage Special

// Framework
@import "bourbon";
@import "compass/support";
@import "compass/css3";
@import "compass/utilities";
@import "rgbapng";

// Common
@import "main/common/variables";
@import "main/common/mixins";
@import "main/common/reset";
@import "main/common/icons";
@import "main/common/common";
@import "main/common/susy_ext";
@import "main/common/header";
@import "main/common/nav";
@import "main/common/footer";

// Components
@import "main/components/flag_label";
@import "main/components/location_with_icon";
@import "main/components/logo";

// 3rd
@import "3rd/slick";
@import "3rd/tooltipster";

.home-index {
  position: relative;
  @include font-family-heiti;
  padding-top: 50px;
  .home-index__banner {
    width: 100%;
    height: 38vw;
  }
  .home-index__slogan {
    @include main-container;
    margin: 30px 10% 20px;
  }
  .home-index__section {
    width: 100%;
  }
  .home-index__more {
    height: 70px;
    margin: 0 20px 20px 20px;
    @include cover_background_image("main/home/more.jpg");
    a {
      display: block;
      font-size: $font_h3;
      line-height: 70px;
      color: $gray_white;
      text-align: center;
      &:hover {
        color: $white;
      }
    }
  }
}
.home-index-banner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .home-index-banner__item {
    height: 38vw;
  }
  .home-index-banner__prev, .home-index-banner__next {
    display: block;
    position: absolute;
    margin-top: -50px;
    top: 50%;
    z-index: 999;
    &:hover {
      @include background(rgba($white, .3));
    }
    .iconfont {
      font-size: 50px;
      color: $white;
      line-height: 100px;
      padding: 0 25px;
    }
  }
  .home-index-banner__prev {
    left: 0;
  }
  .home-index-banner__next {
    right: 0;
  }
}
.home-index-banner-item {
  .home-index-banner-item__image {
    width: 100%;
    height: 38vw;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @include background-size(cover);
  }
  .home-index-banner-item__hotel {
    position: absolute;
    right: 10px;
    bottom: 5%;
  }
}
.home-index-banner-item-hotel {
  position: relative;
  color: $white;
  font-size: $font_h4;
  line-height: $font_h4;
  .home-index-banner-item-hotel__section {
    @include background(rgba($black, .3));
    padding: 20px 25px;
    margin-right: 10px;
    display: none;
    .main-location {
      padding-right: 180px;
    }
  }
  .home-index-banner-item-hotel__package-name {
    margin-bottom: 25px;
  }
  .home-index-banner-item-hotel__price {
    position: absolute;
    right: 5px;
    bottom: 10px;
    height: 32px;
    font-size: $font_h6;
    line-height: 32px;
    padding: 0 30px 0 20px;
    @include background(rgba($red, .75));
    @include container-box-shadow;
    small {
      font-size: $font_standard;
    }
    em {
      margin: 0 5px;
      font-size: $font_h4;
    }
    &:before {
      content: '';
      @include size(0);
      @include position(absolute, 0 100% null null);
      @include border-color(transparent rgba($red, .75) transparent transparent);
      @include border-width($font_h5);
      @include border-style(solid);
    }
    &:after {
      content: '';
      @include size(0);
      @include position(absolute, 100% 0 null null);
      @include border-color($red transparent transparent transparent);
      @include border-width(5px 5px 0 0);
      @include border-style(solid);
    }
  }
}

.home-index-slogan {
  color: $dark_green;
  font-size: $font_h3;
  text-align: center;
  .home-index-slogan__item {
    @include span(1 of 3);
    margin: 20px 0 30px;
    font-size: $font_h4;
  }
  .iconfont {
    font-size: 60px;
    color: $gray_green;
    margin: 20px 0;
  }
}

.home-index-section {
  padding: 10px;
  display: none;
  .home-index-section__item {
    position: relative;
    margin: 10px;
    @include transition(.1s ease);
    @include translateZ(0);
  }
  .home-index-section__link {
    @include clearfix;
    color: $gray_white;
    &:hover {
      color: $white;
    }
  }
}
.home-index-section-item {
  position: relative;
  @include clearfix;
  height: 100%;
  width: 100%;
  @include border-radius(5px);
  .home-index-section-item__background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @include background-size(cover);
  }
  .home-index-section-item__info {
    position: absolute;
    @include background(rgba($black, .5));
    padding: 15px;
    left: 0;
    bottom: 0;
  }
  .home-index-section-item__area {
    position: relative;
  }
}
.home-index-section-item-info {
  font-size: $font_h4;
  line-height: $font_h4;
  position: relative;
  .home-index-section-item-info__name {
    margin-bottom: 10px;
  }
}
.home-index-section-item-area {
  height: 100%;
  font-size: 40px;
  line-height: 0;
  text-align: center;
  .home-index-section-item-area__text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 50%;
  }
  &.home-index-section-item-area--yellow {
    @include background(rgba($orange, .7));
    &:hover {
      @include background(none)
    }
  }
  &.home-index-section-item-area--green {
    @include background(rgba($green, .7));
    &:hover {
      @include background(none)
    }
  }
}
