@mixin bottom-white-border {
  border: 1px;
  border-style: none none solid none;
  border-color: $white;
}
.hotel-show {
  position: relative;
  @include font-family-songti;
  @include no-select;
  min-width: 960px;
  .hotel-show__banner {
    width: 100%;
    height: auto;
    height: 100vh;
  }
  .hotel-show__content {
    width: 100%;
  }
}
.hotel-show-banner {
  position: relative;
  overflow: hidden;
  .hotel-show-banner__first-half,
  .hotel-show-banner__second-half {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: auto;
    }
  }
  .hotel-show-banner__first-half {
    top: -50%;
    img {
      margin-top: 50vh;
    }
  }
  .hotel-show-banner__second-half {
    bottom: -50%;
    img {
      margin-top: -50vh;
    }
  }
  .hotel-show-banner__section {
    position: absolute;
    width: 540px;
    height: 140px;
    margin-top: -70px;
    margin-left: -270px;
    top: 50%;
    left: 50%;
    font-size: 12px;
  }
  .hotel-show-banner__booking {
    @include rgba-background-inline(rgba($black, .3));
    position: absolute;
    left: 50%;
    bottom: 25%;
    margin-left: -4em;
    width: 8em;
    font-size: 1.2em;
    line-height: 2em;
    display: block;
  }
  .hotel-show-banner__click-down {
    position: absolute;
    font-size: 40px;
    height: 20%;
    color: $white;
    width: 100%;
    bottom: 0;
    cursor: pointer;
    .icon-arrow-down {
      @include animation(drop-up 2s ease infinite);
    }
  }
}
.hotel-show-banner-section {
  position: relative;
  padding: 10px;
  @include rgba-background-inline(rgba($black, .5));
  color: $white;
  text-align: center;
  .hotel-show-banner-section__name {
    font-size: 2em;
    line-height: 45px;
    margin: 10px;
  }
  .hotel-show-banner-section__hr {
    display: block;
    border: 0;
    height: 1px;
    margin: 0px 60px;
    @include background(linear-gradient(left, rgba($white, .1), rgba($white, 1), rgba($white, .1)));
  }
  .main-location {
    height: 25px;
    font-size: 1.5em;
    margin-top: 10px;
    .main-location__text, .icon-location {
      position: relative;
    }
  }
  &.hotel-show-banner-section--sliced {
    background: none;
    color: $black;
    .hotel-show-banner-section__hr {
      margin: 0;
      @include background(linear-gradient(left, rgba($light_black, .1), rgba($light_black, 1), rgba($light_black, .1)));
    }
    .main-location {
      display: none;
    }
  }
}
@include keyframes(drop-up) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, -10px, 0));
  }

  50% {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }

  100% {
    opacity: 0;
    @include transform(translate3d(0, 10px, 0));
  }
}
.hotel-show-content {
  .iconfont.icon-water {
    position: absolute;
    left: -2px;
    top: 0;
    font-size: $font_h6;
    color: $light_black;
  }
  .hotel-show-content__nav {
    width: 100%;
    height: 60px;
    padding: 12px 0;
    z-index: 999;
    background: $white;
  }
  .hotel-show-content__overview,
  .hotel-show-content__protocols,
  .hotel-show-content__tips,
  .hotel-show-content__package-simple {
    width: 100%;
  }
  .hotel-show-content__overview {
    background: $lighter_black;
  }
  .hotel-show-content__rooms {
    overflow: hidden;
  }
  .hotel-show-content__package {
    width: 100%;
    height: 100vmin;
    padding-top: 20px;
  }
  .hotel-show-content__rooms,
  .hotel-show-content__favorite,
  .hotel-show-content__package-simple,
  .hotel-show-content__protocols,
  .hotel-show-content__tips {
    padding-top: 90px;
  }
}
.hotel-show-content-nav {
  @include main-container;
  min-width: 840px;
  padding: 0 20px;
  text-align: center;
  position: relative;
  ul.main-navbar {
    > li {
      line-height: 36px;
      margin-right: 20px;
      min-width: 100px;
      line-height: 36px;
      a {
        padding: 9px 10px;
        font-size: $font_h4;
      }
      &:hover,
      &.active {
        border: 2px;
        border-style: none none solid none;
        border-color: $black;
      }
    }
  }
  .hotel-show-content-nav__booking {
    position: absolute;
    right: 20px;
    width: 100px;
    font-size: $font_h5;
    line-height: 30px;
    margin: 3px 0;
    display: block;
  }
}
.hotel-show-content-overview {
  @include main-container;
  padding: 20px;
  position: relative;
  .hotel-show-content-overview__images {
    position: relative;
    @include span(800px);
    height: 500px;
    overflow: hidden;
    @include breakpoint(max-width $desktop-maxwidth) {
      @include span(600px);
      height: 375px;
      // height: 340px;
    }
  }
  .hotel-show-content-overview__image-item {
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .hotel-show-content-overview__info {
    @include span(420px);
    height: 490px;
    margin-left: 20px;
    @include breakpoint(max-width $desktop-maxwidth) {
      @include span(300px);
      height: 375px;
      // height: 340px;
    }
    color: $gray_black;
    font-size: $font_h4;
    background: $white;
  }
  .hotel-show-content-overview__info-tab {
    @include clearfix;
    width: 100%;
    background: $lighter_black;
  }
  .hotel-show-content-overview__info-tab-item {
    @include span(100px);
    line-height: 40px;
    color: $dark_black;
    text-align: center;
    cursor: pointer;
    &.active {
      color: $black;
      background: $white;
    }
  }
  .hotel-show-content-overview__info-items {
    @include clearfix;
    padding: 20px;
    height: 500px;
    overflow-y: auto;
    font-size: $font_h5;
    @include breakpoint(max-width $desktop-maxwidth) {
      height: 360px;
    }
  }
  .hotel-show-content-overview__info-features {
    overflow-y: auto;
    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      line-height: 1.5em;
    }
  }
  .hotel-show-content-overview__info-traffics {
    @include clearfix;
    line-height: 1.5em;
    display: none;
    color: $gray_black;
  }
  .hotel-show-content-overview__info-title {
    color: $dark_black;
    margin: 10px 0 5px;
  }
}
.hotel-show-content-package-simple {
  background: $lighter_black;
  color: $gray_black;
  .hotel-show-content-package-simple__content {
    @include main-container;
    padding: 20px;
  }
  .hotel-show-content-package-simple__title {
    font-size: $font_h3;
    line-height: 2em;
    color: $black;
    margin-bottom: 10px;
  }
  .hotel-show-content-package-simple__list {
    float: left;
    width: 760px;
    background: $white;
    padding: 20px;
    li {
      position: relative;
      font-size: $font_h4;
      line-height: 2em;
      padding-left: 20px;
    }
  }
  .hotel-show-content-package-simple__description {
    float: left;
    width: 460px;
    margin-left: 20px;
    padding: 20px;
    font-size: $font_h5;
    background: $white;
    line-height: 2em;
  }
  @include breakpoint(max-width $desktop-maxwidth) {
    .hotel-show-content-package-simple__list {
      width: 580px;
    }
    .hotel-show-content-package-simple__description {
      width: 320px;
    }
  }
  .hotel-show-content-package-simple__list-info {
    font-size: $font_h5;
    padding: 10px 0;
    line-height: 1em;
  }
}
.hotel-show-content-package {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .slick-list, .slick-track {
    height: 100%;
    margin-bottom: 0;
  }
  &.slick-slider {
    margin-bottom: 0;
  }
}
.hotel-show-content-package-section {
  overflow: hidden;
  position: relative;
  z-index: 900;
  .hotel-show-content-package-section__image {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @include background-size(cover);
  }
  .hotel-show-content-package-section__opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include rgba-background-inline(rgba($white, .3));
    display: none;
  }
  .hotel-show-content-package-section__info {
    position: absolute;
    width: 450px;
    height: 100%;
    top: 0;
    left: -450px;
    padding: 20px 40px;
    background: $lighter_black;
    color: $gray_black;
    font-size: $font_h4;
    line-height: 1.8em;
    display: none;
    table {
      height: 100%;
    }
    td {
      vertical-align: center;
    }
  }
  .hotel-show-content-package-section__info-content {
    padding: 20px;
    @include clearfix;
    overflow-y: auto;
    color: $dark_black;
  }
  .hotel-show-content-package-section__info-banner {
    font-size: $font_h6;
  }
  .hotel-show-content-package-section__info-hr {
    border: 0;
    height: 1px;
    width: 330px;
    @include background($dark_black);
    &.inline {
      @include inline-block;
      width: 264px;
    }
  }
  .hotel-show-content-package-section__info-title {
    line-height: 1em;
    padding: 17px 0 25px;
  }
  .hotel-show-content-package-section__info-description {
    color: $gray_black;
    margin-top: 30px;
  }
  .hotel-show-content-package-section__title {
    margin-bottom: 20px;
    color: $black;
  }
}
.hotel-show-content-rooms {
  position: relative;
  margin: 0 20px;
  padding: 0 20px;
  @include main-container;
  @include main-section-height;
  .hotel-show-content-rooms__tab {
    position: relative;
    @include span(3 of 10);
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @include background-size(cover);
    background-image: asset-url('main/hotels/room-background.jpg');
    @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
      background-image: asset-url('main/hotels/room-background@2x.jpg');
    }
    color: $gray_white;
    font-size: $font_h4;
    padding-top: 40px;
    ul {
      margin-right: 10%;
    }
  }
  .hotel-show-content-rooms__content {
    @include span(7 of 10);
    height: 100%;
    position: relative;
  }
  .hotel-show-content-rooms__room-tab {
    margin: 0 20px 30px;
    padding-left: 10px;
    border-style: none none none solid;
    border-width: 2px;
    border-color: transparent;
    @include transition(all .05s ease-in);
    cursor: pointer;
    &:hover,
    &.active {
      border-color: $white;
    }
    &:active {
      color: $light_white;
    }
  }
  .hotel-show-content-rooms__tab-top-white,
  .hotel-show-content-rooms__tab-bottom-white {
    position: absolute;
    background: $white;
    width: 10%;
    height: 45%;
    right: 0;
  }
  .hotel-show-content-rooms__tab-top-white {
    top: 0;
  }
  .hotel-show-content-rooms__tab-bottom-white {
    bottom: 0;
  }
  .hotel-show-content-rooms__tab-middle-white {
    position: absolute;
    top: 310px;
    right: -2px;
    margin-top: -31px;
    border-width: 31px 20px;
    border-style: solid;
    border-color: $white $white $white transparent;
    @include breakpoint(max-width $desktop-maxwidth) {
      top: 230px;
      margin-top: -23px;
      border-width: 23px 15px;
    }
  }
  .hotel-show-content-rooms__tab-info {
    position: absolute;
    bottom: 0;
    width: 90%;
    border-style: solid none none none;
    border-width: 1px;
    text-align: right;
    margin-right: 10%;
    line-height: 40px;
    display: block;
    font-weight: bold;
  }
  .icon-arrow-double-right {
    margin: 0 10px;
  }
  .hotel-show-content-rooms__room-photos {
    position: relative;
    display: none;
    height: 100%;
    @include transition(all 0.3s ease-in);
    &.active {
      display: block;
    }
    &.blur {
      @include filter(blur(3px));
    }
  }
  .hotel-show-content-rooms__room-photo {
    height: 100%;
    img {
      width: 100%;
    }
  }
  .hotel-show-content-rooms__room-infos {
    display: none;
    position: absolute;
    z-index: 990;
    width: 100%;
    height: 100%;
    top: 0;
    @include box-shadow(0 0 40px $white)
  }
  .hotel-show-content-rooms__room-info {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    @include rgba-background-inline(rgba($black, .5));
    color: $white;
    font-size: $font_h4;
    line-height: $font_h4;
  }
  .hotel-show-content-rooms__room-name {
    font-size: $font_h3;
    line-height: 66px;
    border-style: none none solid none;
    border-width: 1px;
    margin-bottom: 20px;
  }
  .hotel-show-content-rooms__room-info-item {
    margin-bottom: 20px;
  }
  .hotel-show-content-rooms__room-info-facilities {
    @include clearfix;
  }
  .hotel-show-content-rooms__room-info-facility {
    @include span(110px);
  }
  .hotel-show-content-rooms__room-info-facility-items {
    float: left;
    min-width: 200px;
  }
}
.hotel-show-content-favorite {
  width: 100%;
  color: $gray_black;
  font-size: $font_h4;
  line-height: 2em;
  .hotel-show-content-favorite__container {
    @include main-container;
    padding: 20px;
  }
  .hotel-show-content-favorite__title {
    font-size: $font_h3;
    line-height: 2em;
    color: $black;
    margin-bottom: 10px;
    a {
      font-size: $font_h6;
      color: $gray_black;
      margin-left: 20px;
    }
  }
  .hotel-show-content-favorite__explain {
    position: relative;
    background: $lighter_black;
    padding: 20px;
    display: none;
    margin-bottom: 20px;
  }
  .hotel-show-content-favorite__explain-item {
    position: relative;
    padding-left: 30px;
  }
  .hotel-show-content-favorite__package {
    width: 100%;
    position: relative;
  }
  .hotel-show-content-favorite__package-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @include background-size(cover);
    z-index: -1;
    @include opacity(0.6);
  }
  .hotel-show-content-favorite__package-container {
    @include clearfix;
    width: 900px;
    margin: auto;
    padding: 0 50px;
    line-height: 1.8em;
    font-size: $font_h5;
    color: $gray_black;
    background: $white;
    @include breakpoint(max-width $desktop-maxwidth) {
      width: 700px;
    }
  }
  .hotel-show-content-favorite__item {
    margin-bottom: 10px;
  }
  .hotel-show-content-favorite__item-content {
    position: relative;
    padding-left: 40px;
    color: $dark_black;
    font-weight: bold;
    line-height: 40px;
  }
  .hotel-show-content-favorite__item-photos {
    @include clearfix;
    position: relative;
    width: 600px;
    height: 375px;
    // height: 340px;
    margin: 10px auto;
    overflow: hidden;
  }
  .hotel-show-content-favorite__photo-item {
    img {
      max-width: 600px;
      margin: auto;
    }
  }
  .hotel-show-content-favorite__item-description {
    line-height: 1.5em;
    margin: 5px 0;
  }
  .hotel-show-content-favorite__item-info {
    line-height: 1.5em;
    font-size: $font_h5;
    margin: 5px 0;
  }
  .hotel-show-content-favorite__unique {
    margin: 40px auto;
    color: $dark_black;
  }
}
.hotel-show-content-favorite-package-container-day-section {
  width: 100%;
  @include clearfix;
  text-align: center;
  margin: 10px auto;
  .hotel-show-content-favorite-package-container-day-section__hr {
    @include inline-block;
    width: 40%;
    border: 0;
    height: 4px;
    @include rgba-background-inline(rgba($light_black, .5));
  }
  .hotel-show-content-favorite-package-container-day-section__day {
    @include inline-block;
    width: 10%;
    margin: auto 3%;
    @include rgba-background-inline(rgba($light_black, .5));
    color: $white;
  }
}
.hotel-show-content-favorite-package-container-next-item {
  width: 100%;
  @include clearfix;
  text-align: center;
  margin: 10px 0;
  .hotel-show-content-favorite-package-container-next-item__hr {
    @include inline-block;
    width: 40%;
    border: 0;
    height: 1px;
    @include rgba-background-inline(rgba($light_black, .5));
  }
  .iconfont.icon-arrow-double-down {
    @include inline-block;
    margin: 10px 0;
    width: 10%;
    margin: auto 3%;
    font-size: $font_h3;
    color: rgba($light_black, .5);
  }
}

// .hotel-show-content-protocols {
//   width: 100%;
//   line-height: 2em;
//   font-size: $font_h4;
//   color: $dark_black;
//   background: $lighter_black;
//   .hotel-show-content-protocols__content {
//     @include main-container;
//     @include main-section-min-height;
//     padding: 20px;
//   }
//   .hotel-show-content-protocols__title {
//     font-size: $font_h3;
//     line-height: 3em;
//     color: $black;
//     margin-bottom: 10px;
//   }
//   .hotel-show-content-protocols__item {
//     @include clearfix;
//   }
//   .hotel-show-content-protocols__label {
//     width: 20px;
//     height: 2em;
//     float: left;
//   }
//   .hotel-show-content-protocols__text {
//     float: left;
//   }
// }
.hotel-show-content-tips {
  width: 100%;
  line-height: 2em;
  font-size: $font_h5;
  color: $light_black;
  background: $lighter_black;
  .hotel-show-content-tips__container {
    @include main-container;
    padding: 20px;
  }
  .hotel-show-content-tips__title {
    font-size: $font_h3;
    line-height: 2em;
    color: $black;
    margin-bottom: 10px;
  }
  .hotel-show-content-tips__list {
    tr:last-child {
      .hotel-show-content-tips__item-content {
        padding-bottom: 20px;
      }
      .hotel-show-content-tips__item-hr {
        display: none;
      }
    }
  }
  .hotel-show-content-tips__item-field {
    width: 160px;
    color: $dark_black;
    line-height: 1.5em;
    text-align: center;
    padding: 10px 20px;
  }
  .hotel-show-content-tips__item-logo {
    width: 80px;
    text-align: center;
    padding: 10px 20px;
    font-size: $font_h2;
  }
  .hotel-show-content-tips__item-content {
    width: 1000px;
    padding: 20px 20px 0;
  }
  .hotel-show-content-tips__item-hr {
    display: block;
    border: 0;
    margin-top: 20px;
    height: 1px;
    @include background(linear-gradient(left, rgba($light_black, .1), rgba($light_black, .6), rgba($light_black, .1)));
  }
  @include breakpoint(max-width $desktop-maxwidth) {
    .hotel-show-content-tips__item-field {
      width: 120px;
    }
    .hotel-show-content-tips__item-logo {
      width: 60px;
    }
    .hotel-show-content-tips__item-content {
      width: 740px;
    }
  }
}
