.sessions-new {
  width: 100%;
  height: 100%;
  @include cover_background_image("main/sessions/background.jpg");
  .sessions-new__sign-in,
  .sessions-new__sign-up {
    position: relative;
    width: 100%;
    min-width: 600px;
    min-height: 512px;
    height: auto;
    height: calc(100% - 60px);
  }
  .sessions-new__sign-in-form,
  .sessions-new__sign-up-form {
    position: absolute;
    width: 520px;
    height: 438px;
    top: 50%;
    left: 50%;
    margin: -219px 0 0 -260px;
    vertical-align: middle;
  }
  .icon-phone, .icon-password {
    font-size: 26px;
  }
}
.sessions-new-form {
  padding: 60px 67px;
  width: 100%;
  height: auto;
  @include rgba-background-inline(rgba($white, 0.4));
  .sessions-new-form__input {
    @include rgba-background-inline(rgba($white, 0.6));
  }
  .sessions-new-form__agree-me,
  .sessions-new-form__remember-me {
    border: none;
    text-shadow: none;
  }
  .sessions-new-form__agree-me-label,
  .sessions-new-form__remember-me-label {
    font-size: $font_h3;
    color: $gray_black;
    margin-left: 5px;
  }
  .sessions-new-form__link {
    float: right;
    font-size: $font_h3;
    color: $gray_black;
  }
  .sessions-new-form__tips {
    position: absolute;
    right: 67px;
    top: 32px;
  }
  .sessions-new-form__send-captcha {
    width: 155px;
    height: 42px;
    float: right;
    color: $dark_black;
    text-align: center;
    @include rgba-background-inline(rgba($white, 0.85));
  }
  .sessions-new-form__sending-captcha {
    color: $light_black;
    display: none;
  }
}
