.main-mobile-header {
  @include position(absolute, 0 null null 0);
  @include size(100% rem(40));
  z-index: 999;
  .main-mobile-header__container {
    @include size(100% rem(40));
    @include position(relative);
    @include background(rgba($white, .1));
    @include box-shadow(0 0 rem(3) rgba($black, .1));
  }
  .main-mobile-header__logo {
    @include position(absolute, 0 null null 0);
    @include size(rem(66) rem(40));
  }
  .main-mobile-header__nav-button {
    @include position(absolute, 0 rem(10) null null);
    line-height: rem(40);
    font-size: rem(24);
    color: $white;
  }
}
