.single-section {
  @include position(relative);
  @include size(100% rem(230));
  @include margin(rem(20) 0);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include background-size(cover);
  .single-section__sticky {
    @include size(100% rem(60));
    @include position(relative);
    @include margin(rem(170) null null null);
    @include float(left);
    background: rgba($black, .3);
    &:active {
      background: rgba($black, .6);
    }
  }
  .icon-arrow-right {
    @include position(absolute, null rem(5) 0 null);
    font-size: rem($font_h3);
    line-height: rem(60);
  }
}
