// Sessions Page
.sessions-new {
  .main-header {
    background: none;
  }
}

// Components
.main-flag-label {
  position: relative;
  .main-flag-label__flag {
    border: none;
  }
  .main-flag-label__text {
    padding-left: 1em;
  }
  .main-flag-label__shadow {
    border: none;
  }
}
