.primary-button {
  border: none;
  @include border-radius(0);
  background: $red;
  color: $white;
  cursor: pointer;
  text-align: center;
  &:hover {
    background: rgba($red, .8);
  }
}
.opacity-button {
  border: solid;
  border-width: 1px;
  border-color: $white;
  @include border-radius(0);
  background: none;
  color: $white;
  cursor: pointer;
  text-align: center;
}
.minor-button {
  border: 1px solid $gray_black;
  @include border-radius(0);
  background: $white;
  color: $gray_black;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: $dark_black;
    border-color: $gray_black;
  }
}
.normal-button {
  line-height: $font_h4;
  padding: 9px 24px;
  font-size: $font_h4;
  text-align: center;
}
