.main-flag-label {
  position: relative;
  .main-flag-label__flag {
    float: left;
    border-style: solid;
    border-width: 1em .5em;
    border-color: rgba($white, .3) rgba($white, .3) rgba($white, .3) rgba($white, 0);
  }
  .main-flag-label__text {
    float: left;
    line-height: 2em;
    padding-right: 1em;
    @include rgba-background-inline(rgba($white, .3));
  }
  .main-flag-label__shadow {
    float: right;
    border: .25em solid;
    border-color: rgba($white, .5) rgba($white, 0) rgba($white, 0) rgba($white, .5);
  }
}
