.main-location {
  position: relative;
  white-space: nowrap;
  .main-location__text {
    font-size: $font_h4;
    margin-left: 10px;
  }
  .icon-location {
    position: absolute;
    font-size: $font_h3;
    left: 0;
  }
}

.main-location--center {
  text-align: center;
  .icon-location {
    position: relative;
    font-size: 15px;
    top: -3px;
  }
}
