.my-index {
  color: $dark_black;
  .my-index__banner {
    width: 100%;
    height: 200px;
    @include cover_background_image("main/home/my.jpg");
  }
  .my-index__container {
    width: 100%;
    background: $lighter_black;
  }
}
.my-index-container {
  @include main-container;
  padding: 20px;
  .my-index-container__menu {
    @include span(2 of 10);
    font-size: $font_h4;
    text-align: center;
  }
  .my-index-container__content {
    @include span(8 of 10);
  }
  .my-index-container__trades,
  .my-index-container__trade,
  .my-index-container__data {
    margin-left: 20px;
  }
}
.my-index-container-menu {
  background: $white;
  padding: 0 20px;
  .my-index-container-menu__item {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 40px;
    &.my-index-container-menu__item--active {
      color: $red;
    }
    &:hover {
      color: rgba($red, .8);
    }
    .iconfont {
      position: absolute;
      left: 20px;
      top: 20px;
    }
  }
  .my-index-container-menu__item-hr {
    display: block;
    border: 0;
    height: 1px;
    @include background(linear-gradient(left, rgba($light_black, .1), rgba($light_black, 1), rgba($light_black, .1)));
  }
}
.my-index-container-trades {
  min-height: 500px;
  background: $white;
  @include clearfix;
  .my-index-container-trades__filter {
    @include clearfix;
    line-height: $font_h6;
    font-size: $font_h6;
    padding: 20px 20px 0;
    color: $light_black;
    a {
      margin-right: 10px;
      &.active {
        color: $red;
      }
      &:hover {
        color: rgba($red, .8);
      }
    }
  }
  .my-index-container-trades__filter-start-day {
    @include float(left);
  }
  .my-index-container-trades__filter-state {
    @include float(left);
    margin-left: 40px;
  }
  .my-index-container-trades__item {
    margin: 20px;
    border: 1px solid $light_black;
    font-size: $font_h4;
    line-height: 1.5em;
  }
  .my-index-container-trades__item-title {
    display: block;
    @include clearfix;
    background: $lighter_black;
    border-width: 1px;
    border-color: $light_black;
    border-style: none none solid none;
    padding: 10px 20px;
    color: $gray-black;
    &:hover {
      color: $dark_black;
    }
  }
  .my-index-container-trades__item-no {
    @include float(left);
  }
  .my-index-container-trades__item-start-day {
    @include float(left);
    margin-left: 40px;
  }
  .my-index-container-trades__item-detail {
    @include clearfix;
    padding: 10px 20px;
    width: 100%;
  }
  .my-index-container-trades__item-name {
    display: table-cell;
    width: 500px;
  }
  .my-index-container-trades__item-hotel {
    display: block;
  }
  .my-index-container-trades__item-hotel-local {
    font-size: $font_h6;
    color: $gray_black;
  }
  .my-index-container-trades__item-package {
    font-size: $font_h5;
    margin-top: 10px;
  }
  .my-index-container-trades__item-room {
    font-size: $font_h5;
  }
  .my-index-container-trades__item-price {
    display: table-cell;
    width: 200px;
    text-align: center;
    vertical-align: middle;
  }
  .my-index-container-trades__item-changed-price {
    font-size: $font_h6;
    color: $light_black;
    text-decoration: line-through;
  }
  .my-index-container-trades__item-actions {
    display: table-cell;
    width: 300px;
    vertical-align: middle;
  }
  .my-index-container-trades__item-action {
    position: relative;
    line-height: $font_h3;
    margin-right: 5px;
  }
}
.main-trade-state {
  position: relative;
  padding-left: 20px;
  .iconfont {
    @include inline-block;
    font-size: $font_h3;
    vertical-align: bottom;
  }
  .main-trade-state__action {
    margin-top: 20px;
  }
  .main-trade-state__button {
    line-height: $font_h1;
    padding: 9px 24px;
    font-size: $font_h4;
    text-align: center;
  }
}
