meta charset="utf-8"
meta name="renderer" content="webkit"
meta name="force-rendering" content="webkit"
meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
meta name="author" content="iron@yooyoung.cn"
= stylesheet_link_tag :'main/error', media: 'all'
= render 'shared/baidu_statistics'
