.hotel-show
  +font-family-heiti
  +no-select
  position: relative
  +padding(0 0 rem(50) 0)
  .hotel-show__features,
  .hotel-show__overview,
  .hotel-show__rooms,
  .hotel-show__packages,
  .hotel-show__extras,
    +margin(rem(10) 0)

// Banner
.hotel-show-banner
  +position(relative)
  +container
  height: rem(170)
  background-position: 50% 50%
  background-repeat: no-repeat
  +background-size(cover)
  .hotel-show-banner__section
    +absolute-center
    +size(rem(256) rem(130))
    +margin(rem(-65) 0 0 rem(-128))
    +background(rgba($black, .3))
.hotel-show-banner-section
  +position(relative)
  +padding(rem(10))
  color: $white
  text-align: center
  .hotel-show-banner-section__title
    font-size: rem($font_h4)
    +margin(rem(15) 0)
  .hotel-show-banner-section__location
    font-size: rem($font_standard)
    +margin(rem(5) 0)
    .icon-location
      +margin(0 rem(5) 0 0)
  .hotel-show-banner-section__price-tag
    +position(absolute, null rem(-5) rem(10) null)
    +padding(0 rem(10) 0 rem(5))
    height: rem(24)
    font-size: rem($font_h6)
    line-height: rem(24)
    +background(rgba($red, .75))
    +container-box-shadow
    small
      font-size: rem($font_standard)
    em
      +margin(0 rem(5))
      font-size: rdem($font_h4)
    &:before
      content: ''
      +size(0)
      +position(absolute, 0 100% null null)
      +border-color(transparent rgba($red, .75) transparent transparent)
      +border-width(rem(12))
      +border-style(solid)
    &:after
      content: ''
      +size(0)
      +position(absolute, 100% 0 null null)
      +border-color($red transparent transparent transparent)
      +border-width(rem(5) rem(5) 0 0)
      +border-style(solid)

// Features
.hotel-show-feature
  .hotel-show-feature__image
    +margin(rem(10) 0)
    img
      +display(block)
      +size(100% auto)
  .hotel-show-feature__title
    font-size: rem($font_h6)
    color: $dark
    +margin(rem(10))
  .hotel-show-feature__description
    font-size: rem($font_standard)
    color: $gray_dark
    +margin(rem(10) rem(10) rem(20))
    p
      line-height: rem($font_h4)

// Overview
.hotel-show-overview
  +margin(rem(20) 0)
  .hotel-show-overview__recommends
    @extend %main-section
    +background($light_cyan)
  .hotel-show-overview__address
    @extend %main-section
    +background($lightest_green)
    +margin(rem(10) 0 0)
  .hotel-show-overview__title
    @extend %main-title
  .hotel-show-overview__list
    @extend %main-section-list-card
  .hotel-show-overview__list-item
    @extend %main-section-list-item
  .hotel-show-overview__list-item-content
    color: $gray_dark
    +margin(rem(5) 0 0 0)
  .hotel-show-overview__list-item-icon
    @extend %main-secondary-icon
  .hotel-show-overview__album
    +position(relative)
    +margin(rem(20) 0 0 0)
  .hotel-show-overview__album-item
    img
      +display(block)
      +size(100% auto)

// Rooms
.hotel-show-rooms
  @extend %main-section
  +background($lighter_green)
  .hotel-show-rooms__title
    @extend %main-title
  .hotel-show-rooms__rooms
    +position(absolute, rem(11) rem(10) null null)
    font-size: rem($font_h6)
    .ui.dropdown
      min-width: rem(130)
      +padding(rem(10) rem(15))
      .menu
        +breakpoint(max-width 767px)
          max-height: rem(200)
        .item
          font-size: rem($font_h6)
          padding: rem(10) rem(15) !important
  .hotel-show-rooms__albumes
    +position(relative)
    +margin(rem(10) 0 0 0)
  .hotel-show-rooms__album
    display: none
    &:first-child
      display: block
  .hotel-show-rooms__album-photos
    &.blur
      +filter(blur(rem(3)))
  .hotel-show-overview__album-item
    img
      +display(block)
      +size(rem(300) auto)
  .hotel-show-rooms__album-info-btn
    +position(absolute, null rem(10) rem(10) null)
    +padding(rem(5) rem(10))
.hotel-show-room-info
  display: none
  +position(absolute, 0 0)
  +background(rgba($black, .7))
  color: $white
  font-size: rem($font_h6)
  overflow-y: auto
  +padding(rem(20))
  .hotel-show-room-info__item
    +margin(0 0 rem(5) 0)
  .hotel-show-room-info__facilities
    +clearfix
  .hotel-show-room-info__facility
    +span(rem(85))
  .hotel-show-room-info__facility-items
    +span(rem(175))

// Packages
.hotel-show-packages
  +margin(rem(20) 0)
  @extend %main-section
  +background($light_cyan)
  .hotel-show-packages__name
    @extend %main-title
  .hotel-show-packages__list-title
    font-size: rem($font_h6)
    color: $deep_green
    +margin(0 0 rem(10) 0)
  .hotel-show-packages__list-title-icon
    @extend %main-primary-icon
  .hotel-show-packages__list
    @extend %main-section-list-card
    +margin(0 0 rem(10) 0)
  .hotel-show-packages__list-item
    @extend %main-section-list-item
  .hotel-show-packages__list-item-icon
    @extend %main-secondary-icon

// Extra
.hotel-show-extras-explain
  +container
  text-align: center
  font-size: rem($font_h6)
  line-height: rem($font_h3)
  color: $gray_dark
  +margin(0 auto rem(20) auto)
  .icon-gift
    font-size: rem($font_h3)
    +margin(0 rem(10) 0 0)
.hotel-show-extras
  +margin(rem(20) 0)
  @extend %main-section
  +background($lightest_green)
  &.hotel-show-extras--more
    .hotel-show-extras__cover-photo
      +span(100%)
      +margin(0 0 rem(10) 0)
    .hotel-show-extras__simple
      +padding(0)
    .hotel-show-extras__keywords
      +span(100%)
      .hotel-show-extras__keyword
        min-width: 23%
    .hotel-show-extras__more
      +display(none)
      &.hotel-show-extras__more--pickup
        +display(block)
    .hotel-show-extras-content
      display: block
  .hotel-show-extras__title
    @extend %main-title
    font-size: rem($font_h5)
  .hotel-show-extras__label
    +inline-block
    +position(relative)
    +margin(null null null rem(10))
    +background($red)
    +border-radius(0 rem(2) rem(2) 0)
    font-size: rem($font_standard)
    line-height: rem($font_standard)
    font-weight: bold
    color: $white
    +padding(rem(4) rem(5) rem(4) rem(10))
    &:before
      content: ''
      +position(absolute)
      +transform(translateY(-50%)translateX(50%)rotate(-45deg))
      top: 50%
      right: 100%
      +background($red)
      +size(rem(14))
    &:after
      content: ''
      +position(absolute)
      top: 50%
      left: 0%
      +margin(rem(-2) null null null)
      +background($white)
      +size(rem(4))
      +box-shadow(0 rem(-1) rem(-1) 0 rgba($white, .3))
      +border-radius(500rem)
  .hotel-show-extras__simple
    +clearfix
    +position(relative)
    +padding(0 0 rem(5) 0)
  .hotel-show-extras__cover-photo
    +span(1 of 2)
    @extend %main-section-list-card
    +padding(rem(5))
    img
      +display(block)
      +size(100% auto)
  .hotel-show-extras__keywords
    +span(1 of 2)
    color: $gray_dark
    .hotel-show-extras__keyword
      +position(relative)
      +padding(0 0 0 rem(20))
      +margin(0 0 rem(5) 0)
      +inline-block
      min-width: 45%
    .hotel-show-extras__keyword-icon
      @extend %main-secondary-icon
      left: rem(10)
  .hotel-show-extras__price
    +float(left)
    color: $red
    em
      font-size: rem($font_h6)
      +padding(0 rem(2))
  .hotel-show-extras__more
    +float(right)
    +margin(0 rem(10) 0 0)
    color: $gray_dark
    .icon-arrow-double-down
      +margin(0 0 0 rem(5))
    &.hotel-show-extras__more--pickup
      +display(none)
.hotel-show-extras-content
  +display(none)
  .hotel-show-extras-content__hr
    +display(block)
    border: 0
    height: rem(1)
    +margin(rem(10))
    @include background(linear-gradient(left, rgba($light_dark, .1), rgba($light_dark, 1), rgba($light_dark, .1)))
  .hotel-show-extras-content__description
    color: $deep_green
  .hotel-show-extras-content__list
    @extend %main-section-list-card
    +margin(rem(10) 0)
  .hotel-show-extras-content__list-item
    @extend %main-section-list-item
    color: $deep_green
  .hotel-show-extras-content__list-item-icon
    @extend %main-secondary-icon
