.main-mobile-trades-index
  +size(100% null)
  min-height: 100%
  color: $dark
  font-size: rem($font_h5)
  line-height: rem($font_h1)
  +margin(0 0 rem(-100) 0)
  +padding(rem(10) 0 rem(100) 0)
  .main-mobile-trades-index__no-trade
    +padding(rem(40))
    a
      color: blue
.main-mobile-trades-show
  +size(100% null)
  min-height: 100%
  +margin(0 0 rem(-100) 0)
  +padding(rem(10) 0 rem(100) 0)
  .main-mobile-trades-show__title
    text-align: center
    font-size: rem($font_h4)
    line-height: rem($font_h1)
    color: $dark
  .main-mobile-trades-show__notice
    font-size: rem($font_standard)
    line-height: rem($font_h3)
    color: $gray_dark
    +margin(null rem(10) rem(10))
.main-mobile-trades-simple-item
  +margin(0 rem(10) rem(10))
  +border-style(solid)
  +border-width(rem(1))
  +border-color($light_dark)
  +background($lightest_green)
  color: $dark
  font-size: rem($font_standard)
  line-height: rem($font_h3)
  .main-mobile-trades-simple-item__title
    +padding(null rem(10))
    font-size: rem($font_h5)
    line-height: rem($font_h1)
    +border-style(none none solid none)
    +border-width(rem(1))
    +border-color($light_dark)
  .main-mobile-trades-simple-item__list
    +position(relative)
    +padding(rem(5) rem(10))
    .icon-arrow-right
      +position(absolute, 50% rem(10) null null)
      +size(rem(20))
      +margin(rem(-10) null null null)
      font-size: rem(20)
      line-height: rem(20)
      color: $light_dark
  .main-mobile-trades-simple-item__group
    +clearfix
  .main-mobile-trades-simple-item__label
    +span(1 of 4)
    color: $gray_dark
  .main-mobile-trades-simple-item__content
    +span(3 of 4)
    p
      line-height: rem(24)
  .main-mobile-trades-simple-item__remark
    font-size: rem(10)
    line-height: rem($font_h5)
  .main-mobile-trades-simple-item__package-content
    +span(3 of 4)
    +padding(rem(5) rem(10))
    +margin(null null rem(10) null)
    +background($white)
  .main-mobile-trades-simple-item__package-day
    color: $gray_dark
    font-size: rem(10)
    line-height: rem(30)
  .main-mobile-trades-simple-item__package-item
    +position(relative)
    line-height: rem(20)
    +padding(null null null rem(15))
  .main-mobile-trades-simple-item__li
    +position(absolute, rem(7) null null 0)
    background: rgba($red, .3)
    +size(rem(5))
  .main-mobile-trades-simple-item__action
    +border-style(solid none none none)
    +border-width(rem(1))
    +border-color($light_dark)
    +padding(rem(10) rem(20))
  .main-mobile-trades-simple-item__pay-button
    +display(block)
.main-mobile-trades-new
  +position(relative)
  .main-mobile-trades-new__step
    +padding(null null rem(70) null)
  .main-mobile-trades-new__banner
    +position(relative)
    overflow: hidden
  .main-mobile-trades-new__title
    @extend %main-title
    +margin(rem(25) null rem(15) null)
    color: $dark
  .main-mobile-trades-new__title-icon
    @extend %main-title-icon
  .main-mobile-trades-new__select-button
    +position(relative)
    +margin(rem(15) rem(10))
    +padding(null rem(15))
    +border-style(solid)
    +border-width(rem(1))
    +border-color($light_dark)
    +background($lighter_green)
    font-size: rem($font_h5)
    line-height: rem($font_h1)
    &.disabled
      +background($white)
      +border-color($gray)
      .icon-arrow-down
        display: none
      .main-mobile-trades-new__select-text
        color: $gray
    .icon-arrow-down
      +position(absolute, 0 rem(15) null null)
      color: $light_dark
  .main-mobile-trades-new__select-text
    color: $gray_dark
  .main-mobile-trades-new__check-out
    color: $dark
    font-size: rem($font_standard)
    +margin(rem(10) null)
    +padding(null null null rem(20))
  .main-mobile-trades-new__form-group
    +position(relative)
    +margin(rem(20) rem(10))
    .iconfont
      +position(absolute, rem(5) null null rem(10))
      color: $light_dark
      font-size: rem($font_h4)
      line-height: rem($font_h1)
  .main-mobile-trades-new__input,
  .main-mobile-trades-new__textarea
    +border-style(solid)
    +border-width(rem(1))
    +border-color($light_dark)
    +border-radius(0)
    outline: 0
    +background($lighter_green)
    font-size: rem($font_h5)
    color: $dark
    +size(100% null)
    +box-shadow(0)
    +appearance(none)
    +placeholder
      color: $gray_dark
    &:focus
      +placeholder
        color: transparent
  .main-mobile-trades-new__input
    +padding(rem(10) rem(15) rem(10) rem(45))
  .main-mobile-trades-new__textarea
    +padding(rem(10) rem(15))
.ui.dimmer.main-mobile-trades-new-step
  +size(100% null)
  z-index: 950
  text-align: initial
  overflow-y: auto
  background: $white
  .main-mobile-trades-new-step__content
    +size(100% null)
    +padding(rem(20) rem(15) rem(70) rem(15))
    min-height: 100vh
    background: $white
    color: $dark
    font-size: rem($font_h5)
  .main-mobile-trades-new-step__title
    text-align: center
    +margin(null null rem(20) null)
  .main-mobile-trades-new-step__detail-content
    +padding(rem(5) rem(10))
    +margin(null null rem(20) null)
    +background($lighter_green)
    color: $gray_dark
    font-size: ($font_standard)
    &.cyan
      +background($light_cyan)
    &.green
      +background($lightest_green)
  .main-mobile-trades-new-step__detail-title
    color: $dark
    line-height: rem(20)
  .main-mobile-trades-new-step__detail-day
    color: $gray_dark
    font-size: rem(10)
    line-height: rem(30)
  .main-mobile-trades-new-step__detail-item
    +position(relative)
    line-height: rem(20)
    +padding(null null null rem(15))
    +clearfix
  .main-mobile-trades-new-step__detail-short-label
    +span(3 of 10)
  .main-mobile-trades-new-step__detail-short-items
    +span(7 of 10)
    p
      line-height: rem(20)
  .main-mobile-trades-new-step__li
    +position(absolute, rem(7) null null 0)
    background: rgba($red, .3)
    +size(rem(5))
  .main-mobile-trades-new-step__selectable-item
    +position(relative)
    line-height: rem(40)
    +padding(null null null rem(20))
  .main-mobile-trades-new-step__selectable-li
    +position(absolute, rem(15) null null 0)
    +size(rem(10))
    +border-style(solid)
    +border-width(rem(1))
    +border-color($light_dark)
    +border-radius(rem(5))
    &.active
      +border-color($red)
      +background($red)
  .main-mobile-trades-new-step__tips
    +size(100% null)
    text-align: center
    color: $gray_dark
    font-size: rem($font_standard)
    +margin(rem(20) null)
  .main-mobile-trades-new-step__calendar
    +margin(rem(10) null)
  .main-mobile-trades-new-step__explain
    +position(relative)
    +padding(null null null rem(40))
    font-size: rem($font_standard)
    line-height: rem($font_h4)
    color: $gray_dark
    .main-mobile-trades-new-step__explain-icon
      +position(absolute, rem(4) null null rem(10))
      +size(rem(10))
      &.main-mobile-trades-new-step__explain-icon--disabled
        +background($gray)
      &.main-mobile-trades-new-step__explain-icon--active
        +background($light_dark)
      &.main-mobile-trades-new-step__explain-icon--check-in
        +background($red)
      &.main-mobile-trades-new-step__explain-icon--check-out
        +background(rgba($red, .6))
  .main-mobile-trades-new-step__input-group
    +margin(rem(20) null)
    +clearfix
  .main-mobile-trades-new-step__input-label
    float: left
    line-height: rem($font_h1)
  .main-mobile-trades-new-step__minus-button,
  .main-mobile-trades-new-step__plus-button
    float: left
    +size(rem($font_h1))
    line-height: rem(34)
    text-align: center
    font-size: rem($font_h4)
    +background($lighter_green)
    +border-style(solid)
    +border-width(rem(1))
    +border-color($light_dark)
    color: $light_dark
    &:active
      color: $gray_dark
  .main-mobile-trades-new-step__people-num
    float: left
    +size(rem($font_h1))
    line-height: rem(34)
    text-align: center
    font-size: rem($font_h4)
    +background($lighter_green)
    +border-style(solid null)
    +border-width(rem(1))
    +border-color($light_dark)
    color: $gray_dark
  .main-mobile-trades-new-step__minus-button
    +margin(null null null rem(30))
