@import "3rd/retina-sprites";

$em-base: 10px;
html {
  font-size: 10px !important;
  font-weight: normal;
  @include font-family-mobile-heiti;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100vh;
  font-size: 10px !important;
  background: $white !important;
  line-height: initial !important;
}
