$black: #000000;

$dark: #234040;
$gray_dark: #5b7272;
$light_dark: #a6c4c4;

$light_gray: #cddcdf;

$light_cyan: #f5f5fa;

$white: #ffffff;

$lighter_red: #fff2f2;
$red: #ff5a5a;

$lightest_green: #f5faf5;
$lighter_green: #f5fafa;
$light_green: #e1ebeb;
$gray_green: #a2a6a6;
$deep_green: #1f5959;
$deeper_green: #234040;
$dark_green: #444c4c;

$font_standard: 12px;
$font_h1: 36px;
$font_h2: 30px;
$font_h3: 24px;
$font_h4: 18px;
$font_h5: 16px;
$font_h6: 14px;
